<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Internet and network permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission to access the gallery (read external storage) for Android 13 (API 33) and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33"/>

    <!-- Permissions to read/write external storage for Android 12 (API 32) and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <!-- Specify whether the camera is required (to allow using CameraX) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_rounded"
        android:label="안전한 QR code 스캐너"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">



        <!-- Splash screen -->
        <activity
            android:name="com.example.myapplication.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Main activity -->
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="true" />

        <!-- Qshing explanation shown on first app launch -->
        <activity android:name=".QshingIntroActivity" />
        <activity android:name=".QshingIntroActivity2" />

        <activity android:name=".TutorialActivity" />

        <!-- QR code scanning activity using ML Kit -->
        <activity
            android:name="com.example.myapplication.QRScannerActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
